.donate-button{
    background-color: #818BE9 !important;
    width: 100%;
    border-radius: 10px !important;
    bottom: 5%;
}

.payment-button{
    background-color: #F8C16F !important;
    width: 100%;
    border-radius: 10px !important;
}

.paymentDone-button{
    background: #AF93FF !important;
    border-radius: 10px !important;
    width: 100%!important;
}

.projectCard{
    margin-left: 5%;
    margin-right:5%;
    margin-top: 5%;
    box-shadow: 0px 2px 48px rgba(23, 23, 23, 0.1);
    border-radius: 10px !important;

}

.card-frame{
    height: 380px !important;
}

.top-margins{
    margin-top: 5% !important;
}

.top-bot-margin{
    margin-top: 5% !important;
    margin-bottom: 8% !important;
}

.donate-msg{
    background: linear-gradient(144.41deg, #818BE9 47.54%, #E47FDA 91.07%), #7BD2AD !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background-clip: text !important;
}

.re-box{
    box-shadow: none !important;
    border: none !important;
}

@media only screen and (max-width: 600px){
    .mobile-card{
     height: 270px !important; 
    }
    .mobile-button{
        font-size: 1.5ch !important;
    }
    .mobile-view2-title{
        font-size: 1.4ch !important;
    }
    .mobile-view3-title{
        font-size: 2ch !important;
    }
}